@charset "UTF-8";
.select-dashboard2 {
  display: flex;
  float: right;
  /* IE11 */
}
.select-dashboard2::before {
  content: 'Display';
  padding: 0 10px;
  font-size: 14px;
  background-color: #31a6b4;
  height: 28px;
  line-height: 28px;
}
.select-dashboard2 select {
  font-size: 14px;
  padding: 0px 30px 0px 10px;
  height: 28px;
  line-height: 28px;
  color: #696969;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  /* Webkit */
  -moz-appearance: none;
  /* FF */
  -ms-appearance: none;
  /* Edge */
  appearance: none;
  /* Future */
  background: url(/_/AP/images/select_triangle.svg) no-repeat right;
  background-color: #cddee9;
  /*for ie10 ã€ ie11*/
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .select-dashboard2 select {
    background: url(/_/AP/images/select_triangle.svg) no-repeat 42px 0;
    background-color: #cddee9;
  }
}
.select-dashboard2 select::-ms-expand {
  display: none;
}

.mark-info {
  display: flex;
  flex-flow: column wrap;
  padding: 10px 15px;
  max-width: 240px;
  color: #31A6B4;
  background-color: #fff;
  border: 1px solid #ccc;
}
.mark-info ul {
  margin: 0;
}
.mark-info .header {
  display: flex;
  align-items: center;
  height: 30px;
}
.mark-info .header .title {
  flex: 1;
  font-size: 18px;
  font-weight: 600;
}
.mark-info .header .thumb {
  width: 24px;
  height: 24px;
}
.mark-info .content > ul > li {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 34px;
}
.mark-info .content > ul > li img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.mark-info .content > ul > li.ssids {
  margin-top: 4px;
  align-items: flex-start;
}
.mark-info .content > ul > li.ssids > ul {
  margin-top: -1px;
  margin-bottom: 5px;
  flex: 1;
}
.mark-info .content > ul > li.ssids > ul > li {
  display: flex;
  align-items: center;
  min-height: 24px;
}
.mark-info .content > ul > li.ssids .more {
  align-self: flex-end;
  margin: 0 10px 8px 0;
}
.mark-info .content > ul > li.address {
  align-items: flex-start;
}
.mark-info .content > ul > li.address .text {
  line-height: 20px;
  margin-top: 1px;
}
