@import 'compass/css3';
@import 'compass/reset';

body {
    padding: 50px;
}

svg {
    padding-left: 100px;
    circle {
        stroke: #555;
    }

    path {
        fill: none;
        stroke: #555;
    }
}